@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "work sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
}

code {
    font-family: space mono;
}
/* 
[data-color-scheme="dark"] {
    color-scheme: dark;
}

[data-color-scheme="light"] {
    color-scheme: light;
} */

@media (min-width: 641px) {
    .scrollarea:hover::-webkit-scrollbar-thumb,
    .scrollarea.show-thumb::-webkit-scrollbar-thumb {
        background: hsl(var(--border));
        border-radius: var(--radius);
        scrollbar-color: hsl(var(--border)) hsl(var(--background));
        scrollbar-width: thin;
    }
}

@media (max-width: 640px) {
    .scrollarea::-webkit-scrollbar-thumb {
        background: hsl(var(--border));
        border-radius: var(--radius);
        scrollbar-color: hsl(var(--border)) hsl(var(--background));
        scrollbar-width: thin;
    }
}

.min-h-patch {
    height: 100dvh;
    min-height: 100vh;
    min-height: 100svh;
}

.scrollarea::-webkit-scrollbar {
    width: 0px;
}

.scrollarea::-webkit-scrollbar-track {
    background: hsl(var(--background));
}

@layer base {
    :root {
        --background: 294 55% 98%;
        --foreground: 294 67% 3%;
        --muted: 264 35% 86%;
        --muted-foreground: 264 15% 36%;
        --popover: 294 55% 98%;
        --popover-foreground: 294 67% 3%;
        --card: 294 55% 98%;
        --card-foreground: 294 67% 3%;
        --border: 294 3% 93%;
        --input: 294 3% 93%;
        --primary: 294 85% 45%;
        --primary-foreground: 0 0% 100%;
        --secondary: 264 85% 45%;
        --secondary-foreground: 0 0% 100%;
        --accent: 324 85% 45%;
        --accent-foreground: 0 0% 100%;
        --destructive: 21 87% 38%;
        --destructive-foreground: 0 0% 100%;
        --ring: 294 85% 45%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 10 37% 4%;
        --foreground: 10 14% 97%;
        --muted: 340 32% 8%;
        --muted-foreground: 340 3% 70%;
        --popover: 10 37% 4%;
        --popover-foreground: 10 14% 97%;
        --card: 10 37% 4%;
        --card-foreground: 10 14% 97%;
        --border: 10 14% 11%;
        --input: 10 14% 11%;
        --primary: 10 87% 67%;
        --primary-foreground: 10 87% 7%;
        --secondary: 340 87% 67%;
        --secondary-foreground: 340 87% 7%;
        --accent: 40 87% 67%;
        --accent-foreground: 40 87% 7%;
        --destructive: 18 98% 54%;
        --destructive-foreground: 0 0% 0%;
        --ring: 10 87% 67%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 4px;
    width: 82px;
    border-radius: 4px;
    background: linear-gradient(
        to right,
        hsl(var(--primary)) 0%,
        hsl(var(--primary)) var(--value),
        hsl(var(--background)) var(--value),
        hsl(var(--background)) 100%
    );
}

.slider-toggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: hsl(var(--primary));
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle::-moz-range-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    background: hsl(var(--primary));
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle::-webkit-slider-thumb:hover {
    background: hsl(var(--secondary));
}

.slider-toggle::-moz-range-thumb:hover {
    background: hsl(var(--secondary));
}
